{% extends 'base.html'%}

{% block content %}
    <!--Begin content wrapper-->
    <div class="content-wrapper">

        <div class="galery-wrapper">
            <div class="container">
                <div class="galery-title text-center">
                    <h4 class="heading-regular">OUR GALLERY</h4>
                </div>
                <div class="galery-content">
                    <ul>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery1.jpg" alt="">
                                
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery2.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery3.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery4.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery5.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery6.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery7.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery8.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery9.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery10.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery11.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery12.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery13.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery14.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery15.jpg" alt="">
                                
                            </div>
                        </li>
                        <li class="col-sm-3 col-xs-6">
                            <div class="galery-item">
                                <img src="/static/images/galery16.jpg" alt="">
                                
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pagination-wrapper text-center">
                    <ul class="pagination">
                        <li class="prev"><a href="#">Previous</a></li>
                        <li class="current"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="next"><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--begin newsletter-->
        <div class="newsletter newsletter-parallax">
            <div class="container">
                <div class="newsletter-wrapper text-center">
                    <div class="newsletter-title">
                        <h2 class="heading-light">Keep Up and Join Our Newsletter</h2>
                        <p class="text-white">Duis autem vel eum iriure dolor in hendrerit in vulputate.</p>
                    </div>
                    <form name="subscribe-form" target="_blank" class="form-inline">
                        <input type="text" class="form-control text-center form-text-light" name="EMAIL" value="" placeholder="E-mail Address" >
                        <button type="submit" class="button bnt-theme">subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <!--end newsletter-->

    </div>
    <!--End content wrapper-->
   {% endblock %}